<p><%=@playlist_id%></p>
 <table border="1">
  <tr>
    <td>Song Name</td>
    <td>Artist</td>
    <td>Energy</td>
    <td>Danceability</td>
    <td>Valence</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td><%=@energy%></td>
    <td><%=@danceability%></td>
    <td><%=@valence%></td>
  </tr>
