<style>
  body {
    font-family: trattatello;
    background-color: #FCF0CC;
    color: #5C7457;
  }
</style>
<br>
<form action = "/track_list/">
<label for= "url">What is your playlist url?</label>
  <input id = "playlist_url", type= "text" name="playlist_url">
<button>Submit</button>
</form>

<%# <%=rails_db_data_table 'tracks', footer:false,
columns: ['id', 'name', 'artist', 'c', 'energy', 'danceability', 'valence'],
header: true,
limit: 10,
order_by: :c,
order: :desc%>
